<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.facechina.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.facechina.entity.RoleDO">
      <id column="id" property="id" jdbcType="INTEGER"/>
      <result column="role_id" property="roleId" jdbcType="VARCHAR"/>
      <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
      <result column="permission_id" property="permissionId" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, role_id, role_name,permission_id
  </sql>
  <select id="getRoleByRoleId" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List"/>
    from f_role
    where role_id = #{roleId,jdbcType=VARCHAR}
  </select>
</mapper>